body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 207, 207);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page{
    max-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 12rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.flashcard{
    transform: translateY(-20px);
    border: solid rgb(44, 46, 48) ;
    border-radius: 10px;
    padding:  10rem 8rem;
    background: rgb(222, 221, 218);
}

.amount_correct {
    transform:  translateY(-5px);
}