body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 195, 195);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page{
    max-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 30vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.flashcard{
    transform: translateY(-100px);
    border-style: solid;
    padding:  20vh;
}
