body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 195, 195);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page{
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 35vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transform: translateY(-40);
}

.flashcard{
    transform: translateY(-40px);
    
}
